{sub_dirs, ["apps/*", "rel"]}.
{erl_opts, [{parse_transform, lager_transform}, debug_info, {i, ".."}]}.

{deps, [
    {exmpp, ".*", {git, "git://github.com/Zert/exmpp.git", "rebar"}},
    {lager, ".*", {git, "git://github.com/basho/lager.git", "2.0.0rc1"}},
    {uuid, ".*", {git, "git://github.com/avtobiff/erlang-uuid.git", "v0.3.3"}},
    {syslog, ".*", {git, "git://github.com/nivertech/erlang-syslog", "ori_070812"}}
]}.
{cover_enabled, true}.
