{sys, [
    {lib_dirs, ["../deps", "../apps"]},
    {erts, [{mod_cond, derived}, {app_file, strip}]},
    {app_file, strip},
    {rel, "bot", git, [
        kernel,
        stdlib,
        sasl,
        inets,
        crypto,
        lager,
        syslog,
        uuid,
        bot
    ]},
    {rel, "start_clean", "", [
        kernel,
        stdlib
    ]},
    {boot_rel, "bot"},
    {profile, embedded},
    {incl_cond, derived},
    {mod_cond, derived},
    {excl_archive_filters, [".*"]}, %% Do not archive built libs
    {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                        "^erts.*/(doc|info|include|lib|man|src)"]},
    {excl_app_filters, ["\.gitignore"]},
    {app, bot, [{mod_cond, app}, {incl_cond, include}]}
]}.

{target_dir, "bot"}.
{overlay_vars, "vars.config"}.

{overlay, [
    {mkdir, "log/sasl"},
    {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
    {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
    {copy, "files/bot", "bin/bot"},
    {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
    {template, "files/app.config", "etc/app.config"},
    {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
]}.
