[
    {bot, [
        {user, "{{xmpp_user}}" },
        {domain, "{{xmpp_domain}}" },
        {server, "{{xmpp_server_host}}" },
        {password, "{{xmpp_server_pass}}" },
        {services, [<<"pushservice.{{xmpp_domain}}">>, <<"userservice.{{xmpp_domain}}">>,
                <<"energy.{{xmpp_domain}}">>,<<"sms.{{xmpp_domain}}">>,<<"relay.{{xmpp_domain}}">>,
                <<"sip.{{xmpp_domain}}">>,<<"siprelay.{{xmpp_domain}}">>,<<"vgoods.{{xmpp_domain}}">>,
                <<"achievement.{{xmpp_domain}}">>,<<"sms-route-selector.{{xmpp_domain}}">>,
                <<"sipoutctr.{{xmpp_domain}}">>,<<"sipoute.{{xmpp_domain}}">>,<<"sipine.{{xmpp_domain}}">>,
                <<"pushservice.{{xmpp_domain}}">>, <<"energyservice.{{xmpp_domain}}">>,
                <<"offlineservice.{{xmpp_domain}}">>, <<"{{xmpp_domain}}">>]}
    ]},

    {lager, [
        {handlers, [
            {lager_console_backend, debug},
            {lager_file_backend, [
                {"{{platform_log_dir}}/error.log", error, 10485760, "$D0", 5},
                {"{{platform_log_dir}}/info.log", info, 10485760, "$D0", 5}
            ]}
        ]},
        {crash_log, "{{platform_log_dir}}/crash.log"},
        {crash_log_msg_size, 65536},
        {crash_log_size, 10485760},
        {crash_log_date, "$D0"},
        {crash_log_count, 5},
        {error_logger_redirect, true}
    ]}
].

