[
    {ebot, [
        {user, "{{xmpp_user}}" },
        {domain, "{{xmpp_domain}}" },
        {server, "{{xmpp_server_host}}" },
        {password, "{{xmpp_server_pass}}" },
        {services, [<<"component.{{xmpp_domain}}">>]}
    ]},

    {lager, [
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [{file, "{{platform_log_dir}}/error.log"}, {level, error}]},
            {lager_file_backend, [{file, "{{platform_log_dir}}/info.log"}, {level, info}]}
        ]},
        {crash_log, "{{platform_log_dir}}/crash.log"},
        {crash_log_msg_size, 65536},
        {crash_log_size, 10485760},
        {crash_log_date, "$D0"},
        {crash_log_count, 5},
        {error_logger_redirect, true}
    ]}
].

